<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Cadastro Realizado com Sucesso</title>
</head>
<body class="has-background-light has-text-centered">
    <section class="section">
        <div class="container">
            <h2 class="title is-2 has-text-success">Cadastro Realizado com sucesso</h2>
            <a class="button is-info" href="{% url 'cadastrar_aluno' %}">Cadastrar outro aluno</a>
        </div>
    </section>
</body>
</html>
